%html
  %head
    %title mailjunk
    %script{ type: "text/javascript", src: "js/d3.v2.min.js" }
    %script{ type: "text/javascript", src: "js/jquery-1.7.2.min.js" }
    %script{ type: "text/javascript", src: "js/charts/by_day.js" }
    %script{ type: "text/javascript", src: "js/charts/by_month.js" }
    %link{"rel" => "stylesheet", "href" => "styles/style.css", "type" => "text/css"}

  %body
    %h1
      Hi Stampy Day!
      .more checkout some spiffy charts!

    %h2 Mail by day
    #byday

    %h2 Mail by month
    #bymonth
